<% provide(:title, 'About') %>
<h1>About</h1>
<p>The 
  <a href="http://margonline.co.uk" >Ruby on Rails Tutorial</a> 
  is a project to make a book and screencasts to teach web development using the 
  Rails framework developed by David Hansen H
</p>